.menu-section {
    background: #252526;
    border-right: solid 1px var(--border-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 19vw;
    box-sizing: border-box;
}

.head-logo {
    display: flex;
    flex-direction: column;
    margin: 17px 2.2vw 0px 2.2vw;
}

.search-button {
    position: relative;
    background: #1F1F1F;
    width: 12vw;
    color: var(--primary-color);
    border: none;
    padding: 6px 6px 6px 28px;
    background-image: url(../assets/svg/searchbtn.svg);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    left: -5px;
    margin: 28px 0px 18px 0px;
    border-radius: 5px;
    border: solid 1px hsla(0, 0%, 100%, .1);
    transition: all ease-in-out 10ms;
}

.search-button:focus {
    transition: all ease-in-out 10ms;
    outline: solid 4px hwb(354 32% 3% / 0.6);
}

.head-nav {
    margin: 0px 2.2vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.head-nav li {
    display: flex;
}

.head-nav li div {
    margin: 4px 7px 0px 0px;
}

.head-nav-link-list {
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.head-links {
    position: absolute;
    left: 2vw;
    bottom: 2vh;
    width: 18vh;
}

.head-links a {
    font-size: 14px;
    color: var(--primary-color);
}

.head-links a:hover {
    text-decoration: underline;
}

.head-links img {
    margin-bottom: -2.5px;
}

.main-section {
    width: 81vw;
}

.player {
    display: flex;
    height: 8.5vh;
    background: #2C2C2C;
}

.player-controls {
    margin: 11px 0 11px 5.5vw;
}

.player-controls img svg {
    fill: var(--primary-color);
}

.main-window {
    height: 91.5vh;
    overflow: auto;
}

.main-content {
    background: #1F1F1F;
    height: 300vh;
}

.foot {
    color: #ffffffa3;
    font-size: 11px;
    padding: 14px 40px;
    background: #323232;
    line-height: 14px;
}

.foot-info {
    padding: 6px 0px 8px 0px;
}

.foot a {
    color: #ffffff;
}

.foot a:hover {
    text-decoration: underline;
}

.foot-link {
    display: flex;
}

.foot-link-item-f {
    padding-right: 10px;
}

.foot-link-item {
    padding: 0px 10px;
    border-left: solid 1px hsla(0, 0%, 100%, .1);
}