@font-face {
    font-family: 'SF Pro';
    src: url(assets/fonts/SFPro.woff2);
}

:root {
    --border-color: #ffffff1a;
    --primary-color: #ffffffeb;
    --key-red: #fa586a;
    --non-act-color: #4D4D4D;
}

* {
    margin: 0;
    padding: 0;
    font-family: SF Pro, sans-serif;
    list-style: none;
    -webkit-user-drag: none;
    user-select: none;
}

body {
    display: flex;
}

body a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    background: #2C2C2C;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #9b9b9b;
}

::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1;
}